
header{
    background-image: url('../assets/banner.de5659898d3bfc5eb8ea.jpg');     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
        position: relative;
}

header nav {
    z-index: 2;
    display: flex;
    gap: 20px;
  }
  
  /* Buttons */
  header nav a {
    padding: 14px 32px;
    border-radius: 8px;
    background: rgba(59, 130, 246, 0.85);
    border: 2px solid rgba(255,255,255,0.8);
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  
  /* Hover effect */
  header nav a:hover {
    background: rgba(255,255,255,0.9);
    color: black;
  }


