.bottom-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {

    .card-container {
        width: 90%; 
    }
}