.view-creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: black;
    padding: 20px;
    min-height: 100vh;
}

.info {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    background: #0f1624;
    padding: 40px;
    border-radius: 14px;
  }
  
  .info img {
    width: 320px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #3a4d63;
  }

  .info-detail-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 70%;
  }