.creator-card {
    position: relative;
    height: 340px;
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    flex-basis: calc(50% - 10px);
    flex-grow: 1; 
    flex-shrink: 1;
    max-width: 650px;
    padding: 20px;
    color: white;
    border: 1px solid var(--primary);
  }

  @media (max-width: 768px) {
    .creator-card {
        flex-basis: 100%; 
    }
}

  .creator-card :hover{
    border: white;
  }


  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .name label {
    font-size: 22px;
    font-weight: 700;
    color: #3fa9f5; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
 
.icon-btn {
    color: white; 
    background: none; 
    border: none;
    cursor: pointer;
    flex-shrink: 0; 
    flex-grow: 0; 
    padding: 8px;
    margin: 0 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    transition: background-color 0.2s;
}

.icon-btn:hover {
    background-color: var(--primary);
}

.action-buttons-container {
    display: flex;
    align-items: center;
    background-color: #36393f; 
    padding: 4px;
    border-radius: 4px;
}

.social-medias{
    display: flex;
    gap: 10px;
}

.social-medias a{
    color: white;
}
.social-medias a :hover{
    color: var(--primary);
}


