
header{
    background-image: url('../assets/banner.de5659898d3bfc5eb8ea.jpg');     
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
        position: relative;
}

header nav {
    z-index: 2;
    display: flex;
    gap: 20px;
  }

a[role=button] {
  background-color: var(--primary);
  font-size: 20px;
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 700;
  min-width: 15em;
  letter-spacing: 1.3px;
  font-style: normal;
}

a[role=button]:hover {
  border-color: white;
}
