.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.creator-form-group{
  display: flex;
  flex-direction: column;
}

.creator-form-group input{
  height: 40px;
}

.creator-form-group textarea{
  height: 80px;
}

