:root {
  --primary: rgb(81, 133, 180);
  --h1-color: rgb(255, 255, 255);
  --h2-color: var(--primary);
  --h3-color: var(--primary);
  --primary-hover: rgb(67, 115, 157);
  --primary-focus: rgba(61, 105, 143, 0.25);
}

body {
  margin: 0;
  padding: 0;
}